<template>
  <q-page padding>
    <div class="row">
      <div class="col-12 col-sm-4">
        <q-img
          :src="
            $store.state.user.user.avatar ||
            'https://cdn.quasar.dev/img/avatar1.jpg'
          "
          style="max-width: 200px"
        />
        <div>
          <div class="text-weight-bold q-pt-sm q-pb-sm">Плиточник</div>
          <p>
            Уже в деле: <strong>8</strong> лет<br />
            Выполнено <strong>66</strong> заказов
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <p>
          <q-icon name="face" size="sm" color="black" />
          <strong style="font-size: medium">{{
            $store.state.user.user.phone
          }}</strong>
        </p>
        <div class="q-pb-sm">
          <q-rating
            model-value="3"
            color="primary"
            size="1.5em"
            icon="thumb_up"
          />
          (10)
        </div>
        <p>
          Родился в деревне. Гнул подковы. Люблю лошадей. Могу копать. Могу не
          копать. Но лучше, копать.
        </p>
        <q-list class="rounded-borders" style="max-width: 350px">
          <q-item-label header> Отзывы клиентов </q-item-label>
          <q-item v-ripple clickable>
            <q-item-section avatar>
              <q-avatar>
                <q-img src="https://cdn.quasar.dev/img/avatar2.jpg" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1"> Отлично уложил! </q-item-label>
              <q-item-label caption lines="4">
                <span class="text-weight-bold">Яна</span>
                Приехал, положил, всё до сих пор лежит. Очень довольна!
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-ripple clickable>
            <q-item-section avatar>
              <q-avatar>
                <q-img src="https://cdn.quasar.dev/img/avatar2.jpg" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1"> Отлично уложил! </q-item-label>
              <q-item-label caption lines="4">
                <span class="text-weight-bold">Яна</span>
                Приехал, положил, всё до сих пор лежит. Очень довольна!
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-ripple clickable>
            <q-item-section avatar>
              <q-avatar>
                <q-img src="https://cdn.quasar.dev/img/avatar2.jpg" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1"> Отлично уложил! </q-item-label>
              <q-item-label caption lines="4">
                <span class="text-weight-bold">Яна</span>
                Приехал, положил, всё до сих пор лежит. Очень довольна!
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>

        <q-list class="rounded-borders" style="max-width: 350px">
          <q-item-label header> Мои работы </q-item-label>
          <q-item v-ripple clickable>
            <q-item-section avatar>
              <q-avatar>
                <q-img src="https://cdn.quasar.dev/img/avatar3.jpg" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1"> ООО "Ромашка" </q-item-label>
              <q-item-label caption lines="4">
                Замена плитки в душевой.
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-ripple clickable>
            <q-item-section avatar>
              <q-avatar>
                <q-img src="https://cdn.quasar.dev/img/avatar4.jpg" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1"> ОАО "Газпром" </q-item-label>
              <q-item-label caption lines="4">
                Прочистил трубопровод. Модлодец!
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-ripple clickable>
            <q-item-section avatar>
              <q-avatar>
                <q-img src="https://cdn.quasar.dev/img/avatar5.jpg" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1"> ИП Васюков А.Г. </q-item-label>
              <q-item-label caption lines="4">
                Приехал, положил, всё до сих пор лежит. Очень довольна!
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="col-12 col-sm-4">
        <span style="font-size: medium; font-weight: bold"
          >Заполнение профиля</span
        >
        <q-stepper
          v-model="step"
          vertical
          flat
          color="primary"
          done-color="success"
          animated
        >
          <q-step :name="1" title="Фото профиля" icon="photo" :done="true" />

          <q-step
            :name="2"
            title="Группа услуг"
            icon="create_new_folder"
            :done="true"
          />

          <q-step :name="3" title="Стаж" icon="assignment" />

          <q-step :name="4" title="О себе" icon="add_comment" done />

          <q-step
            :name="4"
            title="Мои работы"
            icon="add_comment"
            :done="false"
          />
        </q-stepper>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Profile',
  data() {
    return {
      step: 0,
    }
  },
  computed: {},
}
</script>
