<template>
  <q-page class="flex flex-center">
    <div class="text-center bg-accent">
      <strong><span style="text-decoration: line-through">Я</span>занят</strong
      ><br />
      https://haka.its.bz/#/cv/312331875123
      <QR
        class="q-pa-md bg-white"
        text="https://haka.its.bz/#/cv/312331875123"
        :size="300"
        color="#000"
      />
    </div>
  </q-page>
</template>

<script>
import QR from 'vue-qrcode-component'

export default {
  name: 'QRCode',
  components: {
    QR,
  },
}
</script>
