<template>
  <q-header elevated reveal style="max-width: 1024px">
    <q-toolbar>
      <q-avatar class="cursor-pointer" @click="$router.push('/')">
        <q-img fit="contain" src="~assets/logo.svg" />
      </q-avatar>

      <q-toolbar-title class="cursor-pointer" @click="$router.push('/')">
        <strong
          ><span style="text-decoration: line-through">Я</span>занят</strong
        >
      </q-toolbar-title>

      <q-btn
        dense
        round
        :icon="darkMode ? 'light_mode' : 'dark_mode'"
        class="q-mr-sm"
        @click="toggleDarkMode"
      />

      <q-btn dense round icon="login" @click="$emit('toggleLogin')" />
    </q-toolbar>
  </q-header>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Header',
  emits: ['toggleLogin'],
  data() {
    return {}
  },
  computed: {
    ...mapState('settings', ['darkMode']),
  },
  methods: {
    ...mapActions('settings', ['toggleDarkMode', 'setDarkMode']),
  },
}
</script>
