<template>
  <q-page>
    <q-card class="q-pa-md bg-blue-2" flat bordered>
      <q-card-section class="row text-center">
        <div class="col-12 col-sm-4">
          <q-img
            height="200px"
            alt="workers"
            :src="activeImage"
            fit="contain"
          />
        </div>
        <div class="col-12 col-sm-8">
          <h4 class="text-weight-bold" style="margin: 0">
            <small> Стать самозанятым легко, начни сейчас. </small>
          </h4>
          <h5>
            А найти специалиста еще легче, зайди на сервис и размести заказ, или
            подбери себе специалиста из базы в более 3 млн. человек.
          </h5>
        </div>
      </q-card-section>
    </q-card>
    <div class="q-pt-xl q-pb-md row full-width justify-around q-gutter-md">
      <q-card class="q-pa-sm col-12 col-sm-3 rounded-borders">
        <q-card-section class="row text-center">
          <div class="col-12">
            <q-avatar size="100px">
              <q-img alt="workers" src="~assets/icon1.png" fit="contain" />
            </q-avatar>
          </div>
          Вы что-то умеете и хотите получать больше заказов, чтобы люди о вас
          узнали и пользовались тем, что вы делаете с любовью?
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            color="primary"
            label="Получить заказ"
            @click="$emit('showLogin')"
          />
        </q-card-actions>
      </q-card>
      <q-card class="q-pa-sm col-12 col-sm-3 rounded-borders" bordered>
        <q-card-section class="row text-center">
          <div class="col-12">
            <q-avatar size="100px">
              <q-img alt="workers" src="~assets/icon2.png" fit="contain" />
            </q-avatar>
          </div>
          У вас есть работв и вы ищете исполнителя? Выбирайте лучшего из
          мастеров своего дела!
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            color="primary"
            label="Разместить заказ"
            @click="$emit('showLogin')"
          />
        </q-card-actions>
      </q-card>
      <q-card class="q-pa-md col-12 col-sm-3 rounded-borders" bordered>
        <q-card-section class="row text-center">
          <div class="col-12">
            <q-avatar size="100px">
              <q-img alt="workers" src="~assets/icon3.png" fit="contain" />
            </q-avatar>
          </div>
          У вас компания? Вам понравятся расценки и качество работы людей,
          которые любят своё дело!
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            color="primary"
            label="Найти исполнителя"
            @click="$emit('showLogin')"
          />
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

const images = [
  '/images/бухгалтер.png',
  '/images/няня.png',
  '/images/репетитор.png',
  '/images/электрик.png',
]
export default defineComponent({
  name: 'PageIndex',
  emits: ['showLogin'],
  data() {
    return {
      activeImageIdx: 0,
    }
  },
  computed: {
    activeImage() {
      return images[this.activeImageIdx]
    },
  },
  mounted() {
    setInterval(() => {
      this.nextImage()
    }, 3000)
  },
  methods: {
    nextImage() {
      this.activeImageIdx =
        this.activeImageIdx >= images.length - 1
          ? (this.activeImageIdx = 0)
          : this.activeImageIdx + 1
    },
  },
})
</script>
